@charset "UTF-8";
.commentlist {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 300px;
  column-gap: 10px;
  	  row-gap: 1em;
}

/* 画像コンテナ */
.image  {
    object-fit: cover;
    display: block;
    margin: 0 auto;
}
.image img{
	width: 200px;  /* お好みで調整 */
	height: 200px;
	border-radius: 5px;
	object-fit: cover;
}
.comment{
	border: solid medium black;
	border-radius:10px;
	display: flex; 
	    align-items: flex-start; 
	    gap: 5px; 
	    margin-bottom: 10px; 
	
}

h1{
	color: rgb(255, 128, 128);
}
