@charset "UTF-8";

.comment{
	text-align: center;
	justify-content: center;
	align-items: flex-start;
	min-height: 50vh;
    padding: 20px;
	
}

.comment input[type="submit"]{
	width: auto;
	padding: 5px;
    
    background-color: rgb(0, 128, 255);
	border-style: solid;
    border-color: #EBE9EA;
    color:#EBE9EA;
	border-radius: 3px;
	cursor: pointer;
    margin-right: 30px;
}

.comment input[type="submit"]:hover{
    background-color: #EBE9EA;
    color:rgb(0, 128, 255);
	bottom: 19px;
}
