@charset "UTF-8";
.commentlist {
  display: grid;
/*  grid-template-columns: repeat(3, 1fr);*/
/*  grid-auto-rows: 300px;*/
  column-gap: 10px;
  	  row-gap: 1em;
	  text-align: left;
}

/* 画像コンテナ */
.image  {
    object-fit: cover;
    display: block;
/*    margin: 0 auto;*/
}
.image img{
	width: 200px;  /* お好みで調整 */
	height: 200px;
	border-radius: 5px;
	object-fit: cover;
}
.comment{
	border: solid medium black;
	border-radius:10px;
	display: flex; 
/*	    align-items: flex-start; */
		text-align: left	;
	    gap: 5px; 
	    margin-bottom: 10px; 
}
.button{
	margin: 30px auto;
}
h1{
	color: rgb(255, 128, 128);
}
.pagetop {
    display: none;
    position: fixed;
    bottom: 30px;
    right: 15px;
	text-align: right;
}
.pagetop a {
    display: block;
    background-color: #ccc;
    text-align: center;
    color: #222;
    font-size: 12px;
    text-decoration: none;
    padding: 5px 10px;
	filter:alpha(opacity=50);
    -moz-opacity: 0.5;
    opacity: 0.5;
}
.pagetop a:hover {
    display: block;
    background-color: #b2d1fb;
    text-align: center;
    color: #fff;
    font-size: 12px;
    text-decoration: none;
    padding:5px 10px;
	filter:alpha(opacity=50);
    -moz-opacity: 0.5;
    opacity: 0.5;
}

