@charset "UTF-8";
.pagetop {
    display: none;
    position: fixed;
    bottom: 30px;
    right: 15px;
}
.pagetop a {
    display: block;
    background-color: #ccc;
    text-align: center;
    color: #222;
    font-size: 12px;
    text-decoration: none;
    padding: 5px 10px;
	filter:alpha(opacity=50);
    -moz-opacity: 0.5;
    opacity: 0.5;
}
.pagetop a:hover {
    display: block;
    background-color: #b2d1fb;
    text-align: center;
    color: #fff;
    font-size: 12px;
    text-decoration: none;
    padding:5px 10px;
	filter:alpha(opacity=50);
    -moz-opacity: 0.5;
    opacity: 0.5;
}

.admin-button{
	display: flex;
	justify-content: center;
	gap: 40px;
	margin-bottom: 30px;
}

.main-container{
	width: 100%;
	text-align: center;
	margin: 0 auto;	
}
.shop-container{
	width: 100%;
}



.shop-info table{
	width: 80%; /* または具体的なピクセル値など */
	  margin-left: auto;
	  margin-right: auto;
	  /* またはショートハンドで以下のように書くこともできます */
	  /* margin: 0 auto; */
}

.shop-info table th{
    padding: 12px;
    border: 1px solid #bbb;
}

.shop-info table td{
    padding: 12px;
    border: 1px solid #bbb;
}

.shop-img img{
	width: 500px;  /* お好みで調整 */
		height: 500px;
		border-radius: 5px;
		object-fit: cover;
}
.section-title{
    margin: 30px 0 15px;
    padding-bottom: 10px;
    border-bottom: 2px solid ; 
    display: inline-block;
}

.commentlist {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 200px;
  column-gap: 10px;
  	  row-gap: 1em;
}
.comment-img img{
	width: 150px;  /* お好みで調整 */
	height: 150px;
	border-radius: 5px;
	object-fit: cover;
}

.commentone{
	border: solid medium black;
	border-radius:10px;
	display: flex; 
	    align-items: flex-start; 
	    gap: 5px; 
	    margin-bottom: 2px; 
	
}

