@charset "UTF-8";
.userall{
    overflow: auto;
    width: 950px;
    height: 204px;
	
}

.userall table{
    margin: 0;
    border-spacing: 0;

}
.userall td{
    white-space: nowrap;
    border-right: 1px solid #999;
    border-bottom: 1px solid #999;
    background: rgb(255, 0, 0);
    padding: 5px;
}
.userall th{
    white-space: nowrap;
    border-right: 1px solid #999;
    border-bottom: 1px solid #999;
    background: rgb(64, 0, 128);
    position: sticky;
    top: 0;
    left: 0;
}
.userall tr:first-child th{
    border-top: 1px solid rgb(128, 255, 0);
}
.userall th:first-child{
    border-left: 1px solid ;
}
.userall tr:first-child th:first-child{
    z-index: 1;
}