@charset "UTF-8";
subtitle{
	text-align: center;
}

.userall{
    overflow: auto;
    width: 1520px;
    height: 204px;
	
}

.userall table{
    margin: 0;
    border-spacing: 0;
	margin: auto;
	width: 1400px;
	height: 74px;

}
.userall td{
    white-space: nowrap;
    border-right: 1px solid #999;
    border-bottom: 1px solid #999;
    background: #FFF;
    padding: 2px;
}
.userall th{
    white-space: nowrap;
    border-right: 1px solid #999;
    border-bottom: 1px solid #999;
    background: #f2f2f2;
    position: sticky;
    top: 0;
    left: 0;
}
.userall tr:first-child th{
    border-top: 1px solid #999;
}
.userall th:first-child{
    border-left: 1px solid #999;
}
.userall tr:first-child th:first-child{
    z-index: 1;
}